

#navbarNav {
    color: cornflowerblue;
}
#selfie {
    display:block;
    padding: 1px;
    border: 5px; solid: rgb(247, 90, 200);
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 500px;
}

.display-4 {
    text-align: center;
}

.jumbotron-content {
    color: white;
    color:black;
    background-color: #c6def4;
    background-color: #c6def4;
    
}
.btn btn-primary btn-lg {
    text-align: center;
}

.lead {
    align-items: right;
}

