.jumbotron-content{
padding: 100px 20px 200px 10px;
    color: #7b91f1 ;
    <link rel="preconnect" href="https://fonts.gstatic.com">
}

.h1{
    color: blue;
}

.background{
color: #e67285;
}