

.navbar {
    color: cornflowerblue;
}
.selfie {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 500px;
}

.display-4 {
    text-align: center;
}

.jumbotron-content {
    color: white;
    color:black;
    background-color: #c6def4;
    background-color: #c6def4;
    
}

